
* {
    transition: 0.5s;                                                        /* Añade transición de medio segundo a los elementos */
    text-shadow: 1px 1px 1px black;                                        /* Añade sombra el texto para consegui una mejor visualización en fondos claros */
}

body {
    background-color: black;
}

#main {
    background-color: black;
    animation-name: introWeb;
    animation-duration: 3s;
}

@keyframes introWeb {
    from {
        top: 50%;
        opacity: 0;
    }
    to {  
        top: 0%;
        opacity: 1;
    }
}

.circle {   
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.carousel-item {
    transition: 1.5s;
}

.image-cover {
    background-position: center;
    background-size: cover;
}

.image-cover::after {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    border-bottom: 3px solid red;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0.0032387955182072714) 100%);
}

#cover1 {
    background-image: url('../img/background.jpg');
    
}

#cover2 {
    background-image: url('../img/background2.jpg');
}

#cover3 {
    background-image: url('../img/background3.jpg');
}

#portada, #tendencias {
    background-position: center;
    background-size: cover;
}

#portada {
    background-image: url('../img/background.jpg');
}

#tendencias {
    background-image: url('../img/laLlorona.png');
}

#tendencias::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid red;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0.0032387955182072714) 100%);
}

#title {
    bottom: 0;
    animation-name: intro;
    animation-duration: 2.5s;
}

@keyframes intro {
   from {
        left: 40%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

#plataformas {
    margin-bottom: 0;
    background-color: black;
}

#tendenciasTitle {
    bottom: -100vh;
    right: 2em;
}

h1, p {
    color: white;
}

h1 {
    font-size: 2.2em;
}

.icon {
    width: 2em;
    padding-left: 8px;
    display: inline-block;
}

.circle {
    width: 0.8em;
    border-radius: 50%;
    height: 0.8em;
    background-color: red;
}

#icon {
    color: white;
    background-color: white;
}


#tendenciasText {
    left: -1em;
}


@media (min-width: 768px) {
    #devices {
        width: 75% !important;
    }
}

#devices {
    animation-name: rotateY;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotateY {
    0%   {
        transform: rotateY(0deg);
    }
    50%   {
        transform: rotateY(20deg);
    }
    100% {
        transform: rotateY(0deg);
    }
  }

hr {
    border-color: grey;
}

/* Others */

* {
    text-shadow: 1px 1px 1px black;
}

.ajust-text {
    top: -0.7%;
    position: relative;
}

.font-middle {
    font-size: 1.3em;
}

#searchPhone {
    width: 1em !important;
}

/* Nav */

.ventana_activa::before {
    content: '';
    position: absolute;
    bottom: 20%;
    width: 3.7em;
    height: 3px;
    background: red;
    z-index: 1;
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
}


nav a::before {
    content: '';
    position: absolute;
    bottom: 20%;
    width: 5%;
    height: 3px;
    background: red;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
  }
  


nav {
    z-index: 0;
    height: 12%
}

nav a {
    color: white;
    font-size: 1.2em;
}


nav a:hover {
    color: rgb(255, 255, 255);
}


.mt-red {
    border-bottom: 1px solid red;
}

.user {
    margin-top: 0.2%;
    width: 2.1em !important;
}


#search {
    width: 1.25em;
}

nav li {
    transition: 1s;
}

#logo {
    width: 2.8em;
}

#botton {
    outline: none;
}

#toggleMenu {
    width: 1.7em !important;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

.shadow-dark {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

#toggleMenu:hover {
    transform: rotateZ(180deg);
}

@media (max-width: 767px) {
    #links {
        background-color: rgba(0, 0, 0, 0.645);
    }
    nav {
        height: 11%;
    }
}

#links {
    margin-left: auto;
    margin-right: auto;
}

#navbarNav {
    transition: all 1s cubic-bezier(0, 0.4, 0.29, 1.74) 0s;
}

.white {
    background-color: rgba(0, 0, 0, 0.645);
}

/* Footer */


#footerContent {
    background: linear-gradient(to bottom, black, rgb(26, 26, 26));
}

#logoFooter {
    width: 7em;
}

#subscribe {
    width: 0.9em;
    position: relative;
    margin-top: -3px;
    animation-name: campana;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: rotateZ(0deg);
}

@keyframes campana {
    0%   {
        transform: rotateZ(0deg);
    }
    25%   {
        transform: rotateZ(60deg);
    }
    50%   {
        transform: rotateZ(-60deg);
    }
    75% {
        transform: rotateZ(60deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
  }
  
#socials {
    width: 7em;
}

#filaLogin * {
    text-shadow: none !important;
}
