
* {
    transition: 0.5s;                                                        /* A침ade transici칩n de medio segundo a los elementos */
    text-shadow: 1px 1px 1px black;                                        /* A침ade sombra el texto para consegui una mejor visualizaci칩n en fondos claros */
}

#main {
    background-color: black;
}

#portada, #tendencias {
    background-position: center;
    background-size: cover;
}

#portada {
    background-image: url('../img/background.jpg');
}

#tendencias {
    background-image: url('../img/laLlorona.png');
}

#portada::after, #tendencias::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid red;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0.0032387955182072714) 100%);
}

#title {
    bottom: 0;
    animation-name: intro;
    animation-duration: 2.5s;
}

@keyframes intro {
   from {
        left: 40%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

#plataformas {
    margin-bottom: 0;
    background-color: black;
}

#tendenciasTitle {
    bottom: -100vh;
    right: 2em;
}

h1, p {
    color: white;
}

h1 {
    font-size: 2.2em;
}

#title > div > p {
    font-size: 1.em;
}

.icon {
    width: 2em;
    padding-left: 8px;
    display: inline-block;
}

.circle {
    width: 0.8em;
    border-radius: 50%;
    height: 0.8em;
    background-color: red;
}

#icon {
    color: white;
    background-color: white;
}


#tendenciasText {
    left: -1em;
}


@media (min-width: 768px) {
    #devices {
        width: 75% !important;
    }
}

hr {
    border-color: grey;
}

/* Others */

* {
    text-shadow: 1px 1px 1px black;
}

.font-middle {
    font-size: 1.3em;
}

/* Nav */


nav {
    z-index: 0;
    height: 12%
}

nav a {
    color: white;
    font-size: 1.2em;
}


nav a:hover {
    color: white;
    font-size: 1.5em;
}

#user {
    width: 3em !important;
}


nav li {
    transition: 1s;
}

#logo {
    width: 2.8em;
}

#botton {
    outline: none;
}

#toggleMenu {
    width: 1.7em !important;
}

#toggleMenu:hover {
    transform: rotateZ(180deg);
}

@media (max-width: 767px) {
    #links {
        background-color: rgba(0, 0, 0, 0.645);
    }
    nav {
        height: 11%;
    }
}

#links {
    margin-left: auto;
    margin-right: auto;
}

#navbarNav {
    transition: all 1s cubic-bezier(0, 0.4, 0.29, 1.74) 0s;
}

.white {
    background-color: rgba(0, 0, 0, 0.645);
}

/* Footer */


#footerContent {
    background: linear-gradient(to bottom, black, rgb(26, 26, 26));
}

#logoFooter {
    width: 7em;
}

#subscribe {
    width: 0.9em;
    position: relative;
    margin-top: -3px;
    animation-name: campana;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: rotateZ(0deg);
}

@keyframes campana {
    0%   {
        transform: rotateZ(0deg);
    }
    25%   {
        transform: rotateZ(60deg);
    }
    50%   {
        transform: rotateZ(-60deg);
    }
    75% {
        transform: rotateZ(60deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
  }
  
#socials {
    width: 7em;
}

