@import url("theme.css");

* {
    transition: 0.5s;
    text-shadow: 1px 1px 1px black;
}


#main {
    background-color: black;
}

#portada, #tendencias {
    background-position: center;
    background-size: cover;
}

#portada {
    background-image: url('../img/background.jpg');
}

#tendencias {
    background-image: url('../img/laLlorona.png');
}

#portada::after, #tendencias::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid red;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0.0032387955182072714) 100%);
}

#title {
    bottom: 0;
}

#plataformas {
    margin-bottom: 0;
    background-color: black;
}

#tendenciasTitle {
    bottom: -100vh;
    right: 2em;
}

h1, p {
    color: white;
}

h1 {
    font-size: 2.2em;
}

#title > div > p {
    font-size: 1.em;
}

.icon {
    width: 2em;
    padding-left: 8px;
    display: inline-block;
}

.circle {
    width: 0.8em;
    border-radius: 50%;
    height: 0.8em;
    background-color: red;
}

#navbarNav {
    transition: all 1s cubic-bezier(0, 0.4, 0.29, 1.74) 0s;
}

#logo {
    width: 2em;
}

nav {
    z-index: 0;
    height: 9%
}

nav a {
    color: white;
}
nav li:hover {
    transform: rotateY(360deg);
}

nav li {
    transition: 1s;
}

a:hover {
    color: white;
    font-size: 20px;
}

#links {
    margin-left: auto;
    margin-right: auto;
}

#icon {
    color: white;
    background-color: white;
}

#toggleMenu {
    width: 1.7em !important;
}

#user {
    width: 2.7em !important
}

#tendenciasText {
    left: -1em;
}


@media (min-width: 768px) {
    #devices {
        width: 75% !important;
    }
}

@media (max-width: 767px) {
    #links {
        background-color: rgba(0, 0, 0, 0.645);
    }
    nav {
        height: 11%;
    }
}

.white {
    background-color: rgba(0, 0, 0, 0.645);
}